* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #A7B4AC;
    text-wrap: pretty;
}

@font-face {
    font-family: "Rubik";
    src: url("../fonts/Rubik/Rubik-VariableFont_wght.ttf") format("truetype");
}

@font-face {
    font-family: "Mea_Culpa";
    src: url("../fonts/Mea_Culpa/MeaCulpa-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Algerian";
    src: url("../fonts/Algerian/algerian-regular.ttf");
}

body {
    margin: 0;
    font-family: "Rubik", sans-serif;
    background-color: #3D4841;
}

div, ul, nav, header, footer, a, li, label {
    margin: 0;
    padding: 0;
}

strong {
    color: #888;
}

h1, h2 {
    color: #758A7D;
}

p {
    text-align: justify;
    text-wrap: balance;
}

/* -----HEADER SECTION----- */

.header {
    container-type: inline-size;
    container-name: header;
}

.header__wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: #1E2520;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    z-index: 100;
    transition: background-color 0.3s ease;
}

/* Logo */
.header__logo-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header__img_logo {
    height: 60px;
    width: auto;
    object-fit: contain;
}

.header__text_logo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80px;
}

.header__text_logo {
    margin: 0;
    font-family: "Algerian";
    color: #AD1519;
    font-size: 10px;
}

/* Botón menú móvil */
.header__open-nav-button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 32px;
    height: 24px;
    z-index: 101;
}

.header__open-nav-button span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: #A7B4AC;
    border-radius: 2px;
}

/* Checkbox oculto */
.header__checkbox {
    display: none;
}

/* NAV */
.header__nav {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100vh;
    background-color: #3D4841;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: left 0.3s ease-in-out;
    z-index: 100;
}

.header__nav-list {
    display: flex;
    flex-direction: column;
    gap: 30px;
    list-style: none;
    text-align: center;
}

.header__nav-item a {
    color: #A7B4AC;
    font-size: 1.2rem;
    text-decoration: none;
    transition: color 0.2s ease;
}

.header__nav-item a:is(:hover, :active) {
    color: #FFF;
    text-decoration: underline;
}

/* Mostrar nav al activar checkbox */
.header__checkbox:checked ~ .header__nav {
    left: 0;
}

/* -----HEADER QUERIES----- */
@container header (min-width: 870px) {
    .header__wrapper {
        height: 110px;
        background: linear-gradient(to bottom, #000f, #0006);
        padding: 0 40px;
        justify-content: space-between;
    }

    .header__img_logo {
        height: 90px;
    }

    .header__text_logo-container {
        height: 110px;
    }

    .header__open-nav-button {
        display: none;
    }

    .header__nav {
        position: static;
        width: auto;
        height: auto;
        background: transparent;
        left: auto;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        transition: none;
    }

    .header__nav-list {
        flex-direction: row;
        gap: 30px;
        margin-right: 0;
    }

    .header__nav-item a {
        font-size: 1rem;
    }
}

@container header (min-width: 970px) {
    .header__text_logo {
        font-size: 20px;
    }
}



/* -----HEADER ENDS----- */

/* -----OPENING PICTURE SECTION----- */
.opening_picture{
    container-type: inline-size;
    container-name: main_picture;
}

.opening_picture-img-container {
    position: relative;
    margin-top: 80px;
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.opening_picture-img{
    width: 100%;
    height: 100%;
    object-fit: cover; 
    object-position: center; 
    display: block;
}

/* -----OPENING PICTURE QUERIES----- */
@container main_picture (min-width: 880px){

    .opening_picture-img-container{
        margin-top: 0;
        height: 50vh;
    }

}

/* -----OPRNING PICTURE ENDS----- */


/* -----FLAG SECTION----- */

.flag{
    container-type: inline-size;
    container-name: flag;
}

.flag__wrapper{
    position: sticky;
    top: 0;
}

.division_flag {
    display: flex;
    flex-direction: column;
    z-index: 2;
}

.division_flag-item-red {
    background-color: #AD1519;
    height: 5px;
}

.division_flag-item-yellow {
    background-color: #FABD00;
    height: 10px;
}

/* -----FLAG QUERIES----- */

@container flag (min-width: 880px){
    .flag__wrapper{
        top:110px;
    }
}
/* -----FLAG ENDS----- */


/* -----FOOTER SECTION----- */

.footer{
    container-type: inline-size;
    container-name: footer;
}

.footer__wrapper {
    min-height: 40px;
    max-height: 300px;
    background-color: #1E2520;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.footer-item{
    max-width: 600px;
}

.footer-item__social_network{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #0003;
    border-radius: 25px;
    margin: 10px 0;
    padding: 12px;
}

.footer-item__social_network-img-container{
    width: 64px;
    height: 64px;
    overflow: hidden;
    border-radius: 32px;
}

.footer-item__social_network-img{
    width: 100%;
}

.footer-logo-container{
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    overflow: hidden;
    width: 500px;
}

.footer-logo{
    max-width: 100%;
}

.footer__nav-list{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}

.footer__nav-item{
    list-style: none;
}

.footer__nav-item a{
    text-decoration: none;
}

.footer__nav-item a:is(:hover, :active){
    text-decoration: underline;
}

.footer-item__legal{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 40px;
    max-height: 300px;
}

.footer-item__legal a{
    text-decoration: none;
}

.footer-item__legal a:is(:hover, :active){
    text-decoration: underline;
}

/* -----FOOTER QUERIES----- */

@container footer (min-width: 880px){
    .footer-logo-container{
        display: flex;
    }
}

/* -----FOOTER ENDS----- */