* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #A7B4AC;
}

@font-face {
    font-family: "Rubik";
    src: url("fonts/Rubik/Rubik-VariableFont_wght.ttf") format("truetype");
}

@font-face {
    font-family: "Mea_Culpa";
    src: url("fonts/Mea_Culpa/MeaCulpa-Regular.ttf") format("truetype");
}

body {
    margin: 0;
    font-family: "Rubik", sans-serif;
    background-color: #3D4841;
}

div, ul, nav, header, footer, a, li, label {
    margin: 0;
    padding: 0;
}

strong {
    color: #888;
}

h1, h2 {
    color: #758A7D;
}

p {
    text-align: justify;
    text-wrap: balance;
}

/* -----HEADER SECTION----- */

.header {
    position: fixed;
    width: 100%;
    height: 80px;
    background: linear-gradient(to bottom, #000f, #0006);
    display: flex;
    justify-content: space-between;
    container-type: inline-size;
    container-name: header;
    z-index: 1;
}

.header__open-nav-button {
    padding: 30px;
    position: absolute;
    right: 10px; 
    z-index: 2;
}

.header__checkbox {
    display: none;
}

.header__nav {
    display: none;
    background-color: #3D4841;
    position: absolute;
    height: 100vh;
    width: 100%;
    top:0;
    z-index: 1;
}

.header__nav-list {
    display: flex;
    flex-direction: column;
    margin: auto;
    height: 50vh;
    padding: 30px;
    justify-content: space-evenly;
}

.header__checkbox:checked ~ .header__nav {
    display: flex;
}

.header__logo-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header__text_logo-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 80px;
}

.header__text_logo{
    margin: 0;
}

.header__img_logo {
    max-width: 100%;
    height: 70px;
    margin: 10px 0;
}

.header__nav-item {
    list-style: none;
}

.header__nav-item a{
    text-decoration: none;
}

.header__nav-item a:is(:hover, :active){
    text-decoration: underline;
}

.header__main_picture-item {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* -----HEADER QUERIES----- */
@container header (min-width: 850px){

    .header__nav{
        display: block;
        position: static;
        height: auto;
        width: auto;
        background-color: #0000;
        justify-content: space-between;
        z-index: 1;
    }

    .header__nav-list {
        flex-direction: row;
        height: auto;
        width: auto;
        gap: 20px;
        margin-right: 40px;
    }

    .header__open-nav-button {
        display: none;
    }
}


/* -----HEADER ENDS----- */


/* -----MAIN PICTURE SECTION----- */
.header__main_picture {
    width: 100%;
    height: auto;
    overflow: hidden;
    container-type: inline-size;
    container-name: main_picture;
}

.header__main_picture-item{
    width: 100%;
    max-width: 100%;
    height: auto;
    z-index: -2;
    display: block;
}

/* -----MAIN PICTURE QUERIES----- */
@container main_picture (min-width: 850px){

    .header__main_picture-item{
        height: 100vh;
}
}

/* -----MAIN PICTURE ENDS----- */


/* -----FLAG SECTION----- */

.flag{
    position: sticky;
    top:0;
}

.division_flag {
    display: flex;
    flex-direction: column;
    z-index: 2;
}

.division_flag-item-red {
    background-color: #AD1519;
    height: 20px;
}

.division_flag-item-yellow {
    background-color: #FABD00;
    height: 40px;
}
/* -----FLAG ENDS----- */


/* -----MAIN SECTION----- */

.main{
    container-type: inline-size;
    container-name: main;
}

.main__wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    max-width: 1400px;
}

.main__data-container {
    max-width: 600px;
    padding: 12px;
}

.main__img-container{
    max-height: 500px;
    overflow: hidden;
}

.main__img {
    max-width: 100%;
    width: 850px;
}

.main__objectives_values-container{
    margin-top: 50px;
    padding: 12px;
    width: 100%;
}

.objectives_values-img-container {
    width: 100%;
    overflow: hidden;
}
.objectives_values-img {
    width: 100%;
}

/* -----MAIN SECTION QUERIES----- */

@container main (min-width: 850px){

    .main__wrapper{
        flex-direction: row;
        padding: 20px;
        margin: auto;
    }

    .main__data-container {
        background-color: #0007;
        border-radius: 0 25px 25px 0;
        box-shadow: 0px 0px 9px #0009;
    }

    h1 {
        font-size: 2.5rem;
    }

    .main__data-description p {
        font-size: 1.5rem;
    }

    .main__objectives_values-container p{
        font-size: 1.5rem;
    }

    .main__objectives_values-container h2{
        font-size: 2rem;
    }

    .main__data {
        max-width: 620px;
    }

    .main__img-container {
        max-height: initial;
        border-radius: 25px 0 0 25px;
        box-shadow: 0px 0px 9px #0009;
    }

    .main__img {
        height: 100%;
        object-fit: cover;
        width: 300px;
    }

}

/* -----MAIN SECTION ENDS----- */


/* -----ACTIVITIES SECTION----- */

.activities {
    margin-top: 50px;
    background-color: #0007;
    padding: 12px;
    container-type: inline-size;
    container-name: activities;

}

.activities__h2{
    text-align: center;
}

.activities__wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    gap: 12px;
}

.actividades__img-container{
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.actividades__img{
    width: 100%;
}

.actividades__img:is(:hover, :active){
    border: 2px solid #fff;

}

/* -----ACTIVITIES QUERIES----- */
@container activities (min-width: 850px){
    .activities__wrapper{
        grid-template-columns: repeat(4, 1fr);
    }

    .activities__h2{
        font-size: 2rem;
    }
}


/* -----ACTIVITIES ENDS----- */


/* -----PHRASE SECTION----- */

.phrase__wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 50px 20px 50px 20px;
}

.phrase__line-container{
    width: 100%;
    padding: 20px 0;
}

.phrase__line{
    margin: 0;
    font-size: 6vw;
    text-align: center;
    font-family: "Mea_Culpa";
}

/* -----PHRASE ENDS----- */


/* -----TESTIMONILAS SECTION----- */

.testimonials{
    margin: 50px 0;
    background-color: #0007;
    padding: 12px;
    container-type: inline-size;
    container-name: testimonials;
    z-index: -1;
}

.testimonials__wrapper{
    display: flex;
    flex-direction: row;
    overflow: hidden;
    overflow-x: auto;
    margin: 0 20px;
    gap:20px;
    min-height: 30vh;
}

.testimonials__testimony-container{
    padding: 12px;
    background-color: #3D4841;
}

.testimonials__testimony-text{
    width: 30vh;
    max-width: 300px;
}

.testimonials__h2 {
    text-align: center;
}

/* -----TESTIMONILAS QUERIES----- */

@container testimonials (min-width: 850px){
    .testimonials__wrapper{
        min-height: 60vh;
    }

    .testimonials__h2{
        font-size: 2rem;
    }
}

/* -----TESTIMONILAS END----- */


/* -----FOOTER SECTION----- */

.footer{
    container-type: inline-size;
    container-name: footer;
}

.footer__wrapper {
    min-height: 40px;
    max-height: 300px;
    background-color: #1E2520;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.footer-item{
    max-width: 600px;
}

.footer-item__social_network{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #0007;
    border-radius: 25px;
    margin: 10px 0;
    padding: 12px;
}

.footer-item__social_network-img-container{
    width: 64px;
    height: 64px;
    overflow: hidden;
    border-radius: 32px;
}

.footer-item__social_network-img{
    width: 100%;
}

.footer-logo-container{
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    overflow: hidden;
    width: 500px;
}

.footer-logo{
    max-width: 100%;
}

.footer__nav-list{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}

.footer__nav-item{
    list-style: none;
}

.footer__nav-item a{
    text-decoration: none;
}

.footer__nav-item a:is(:hover, :active){
    text-decoration: underline;
}

.footer-item__legal{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 40px;
    max-height: 300px;
}

.footer-item__legal a{
    text-decoration: none;
}

.footer-item__legal a:is(:hover, :active){
    text-decoration: underline;
}

/* -----FOOTER QUERIES----- */

@container footer (min-width: 850px){
    .footer-logo-container{
        display: flex;
    }
}

/* -----FOOTER ENDS----- */